/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-Bold.woff2') format('woff2'),
        url('../fonts/Poppins-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-Medium.woff2') format('woff2'),
        url('../fonts/Poppins-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-Regular.woff2') format('woff2'),
        url('../fonts/Poppins-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

* {
    padding: 0px;
    margin: 0px;
    border: 0px;
  }
  
  *,
  *:before,
  *:after {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  
  :focus,
  :active {
    outline: none;
  }
  
  a:focus,
  a:active {
    outline: none;
  }
  
  aside,
  nav,
  footer,
  header,
  section {
    display: block;
  }
  
  html,
  body {
    height: 100%;
    min-width: 320px;
  }
  
  input,
  button,
  textarea {
    font-family: "Poppins";
  }
  
  input::-ms-clear {
    display: none;
  }
  input[type="number"]::-webkit-outer-spin-button,
    input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none; 
}

    input[type='number'],
    input[type="number"]:hover,
    input[type="number"]:focus {
    -webkit-appearance: none;
            appearance: none;
    -moz-appearance: textfield;
}
  button {
    cursor: pointer;
  }
  
  button::-moz-focus-inner {
    padding: 0;
    border: 0;
  }
  
  a,
  a:visited {
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: none;
  }
  
  ul li {
    list-style: none;
  }
  
  img {
    vertical-align: top;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: inherit;
    font-size: inherit;
  }
  
  .wrapper {
    width: 100%;
    min-height: 100%;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            -ms-flex-direction: column;
        flex-direction: column;
  }
  
  ._container {
    max-width: 800px;
    min-height: 100%;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
    @media (max-width: 640px) {
        ._container {
          max-width: 520px;
        }
      }
    @media (max-width: 460px) {
        ._container {
            max-width: 320px;
          }
            
    }

body{
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
    color: #7E8299;
    background: #E5E5E5;
    line-height: 1;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
.main {
    min-width: 630px;
    min-height: 423px;
    background: #fff;
    border-radius: 6px;
}
.player__wrap{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}
.player__view {
    padding: 28px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
@media (max-width: 680px) {
    .player__view  {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        margin: 0;
        padding: 10px;
    }
}
.player__planet {
    width: 64px;
    height: 64px;
    margin-right: 12px;
    background: #F1F3FF;
    border-radius: 6px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
}

@media (max-width: 690px) {
    .player__planet{
        margin: 0 0 15px 0;
      }
        
}
.player__planet::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url(../img/planet.svg) no-repeat 50%/50%;
}
.player__title {
    color: #181C32;
    font-size: 17px;
    font-weight: 600;
    margin-bottom: 10px;
    -webkit-transition: all .5s ease 0s;
    -o-transition: all .5s ease 0s;
    transition: all .5s ease 0s;
}
.player__title:hover{
    color: #3445E5;
}
@media (max-width: 690px) {
    .player__title{
        font-size: 14px;
      }
        
}
.player__id {
    font-weight: 600;
    color: #B5B5C3;
}
@media (max-width: 690px) {
    .player__id {
        text-align: center;
      }
        
}
.player__status {
    padding: 28px;
    margin: 0 28px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border-bottom: 2px solid #F4F7FA;
}

@media (max-width: 680px) {
    .player__status {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        margin: 0;
        padding: 10px;
        border: none;
    }
}
.player__left {
    -ms-flex-preferred-size: 45px;
        flex-basis: 45px;
    margin-right: 42px;
}
@media (max-width: 690px) {
    .player__left {
        margin: 0 0 15px 0;
      }
        
}
@media (max-width: 690px) {
    .player__subtitle {
        margin: 0 0 15px 0;
        text-align: center;
      }
        
}
.player__subtitle {
    font-weight: 600;
    color: #3F4254;
    margin-bottom: 12px;
}
.player__btn{
    min-height: 36px;
    width: 145px;
    padding: 8px 10px 8px 40px;
    margin-bottom: 25px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 14px;
    
    border-radius: 6px;
    -webkit-transition: all .3s ease 0s;
    -o-transition: all .3s ease 0s;
    transition: all .3s ease 0s;
    position: relative;
}
.player__btn.stop{
    color: #F64E60;
    background: #FFE2E5 url(../img/pause.svg) no-repeat 9px 6px;
    -webkit-transition: all .5s ease 0s;
    -o-transition: all .5s ease 0s;
    transition: all .5s ease 0s;
}
.player__btn.stop:hover{
    -webkit-box-shadow: 0 0 8px 2px rgba(246, 78, 96, 0.3);
            box-shadow: 0 0 8px 2px rgba(246, 78, 96, 0.3);
}
.player__btn.play{
    color: #1BC5BD;
    background: #C9F7F5 url(../img/play.svg) no-repeat 9px 6px;
}
.player__btn.play:hover{
    -webkit-box-shadow: 0 0 8px 2px rgba(27, 197, 189, 0.3);
            box-shadow: 0 0 8px 2px rgba(27, 197, 189, 0.3);
}

.player__progress {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    min-height: 36px;
}

.player__bar {
    min-width: 240px;
    height: 6px;
    border-radius: 6px;
    background: #F4F7FA;
    margin-right: 12px;
    position: relative;
}
@media (max-width: 690px) {
    .player__bar  {
        margin: 0 0 25px 0;
      }
        
}
.player__bar::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 49%;
    height: 100%;
    background: #3445E5;
    border-radius: 6px;
}
@media (max-width: 690px) {
    .player__progress  {
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        margin: 0 0 25px 0;
      }
        
}
.player__hold{
    min-width: 160px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.player__percent {
    font-weight: 600;
}
.player__time {
    font-weight: 600;
    position: relative;
}
.player__time::before{
    content: "";
    position: absolute;
    top: -6px;
    left: -30px;
    width: 24px;
    height: 24px;
    background: url(../img/clock.svg) no-repeat;
    border-radius: 50%;
}
.player__indicators {
    padding: 30px 28px 36px;
    border-bottom: 1px solid #E4E6EF;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
@media (max-width: 700px) {
    .player__indicators  {
        padding: 10px 28px 10px;
        border: none;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
}
.player__name{
    font-weight: 600;
    color: #3F4254;
    margin-bottom: 13px;
}

.player__param {
    font-family: 'Poppins', sans-serif;
    border-radius: 6px;
    border: 1px solid #F3F6F9;
    font-weight: 500;
    font-size: 13px;
    padding: 8px 10px;
    min-width: 120px;
}

@media (max-width: 700px) {
    .player__param {
        margin: 0 0 20px 0;
        min-width: 300px;
      }
        
}

.player__item:not(:last-child){
    margin-right: 32px;
}

@media (max-width: 700px) {
    .player__item:not(:last-child) {
        margin-right: 0px;
        margin: 0px 0px 15px 0px;
    }
}
.player__details {
    padding: 28px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
@media (max-width: 690px) {
    .player__details  {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
}
.player__holder {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
@media (max-width: 690px) {
    .player__holder {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        margin: 0 0 20px 0;
      }
        
}
.player__money {
    background: #F3F6F9;
    border-radius: 6px;
    min-height: 36px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 9px 11px 9px 48px;
    margin-right: 12px;
    position: relative;
}
.player__money::before{
    content: "";
    position: absolute;
    top: 6px;
    left: 12px;
    width: 24px;
    height: 24px;
    background: url(../img/wallet.svg) no-repeat;
}
@media (max-width: 690px) {
    .player__money {
        margin: 0 0 20px 0;
      }
        
}
.player__button {
    width: 36px;
    height: 36px;
    border-radius: 6px;
    background: #F1F3FF;
    color: #3445E5;
    font-size: 26px;
    font-weight: 600;
    -webkit-transition: all .5s ease 0s;
    -o-transition: all .5s ease 0s;
    transition: all .5s ease 0s;
}
.player__button:hover{
    background: #3445E5;
    color: #fff;
}
.player__link {
    min-height: 36px;
    padding: 9px 17px 8px 43px;
    color: #3445E5;
    text-transform: uppercase;
    font-weight: 600;
    background: #F1F3FF url(../img/equalizer.svg) no-repeat 9px 4px;
    border-radius: 6px;
    -webkit-transition: all .3s ease 0s;
    -o-transition: all .3s ease 0s;
    transition: all .3s ease 0s;
    position: relative;
}
.player__link:hover{
    background: #3445E5 url(../img/equalizer_hover.svg) no-repeat 9px 4px;
    color: #fff;
}
@media (max-width: 690px) {
    .player__link {
        margin: 20px 0 0 0;
      }
        
}